<div class="row">

    <div class="row">
        <div class="col-4">
            <button [routerLink]="['/paciente','nuevo']" type="button" class="btn btn-primary"><i class="fa fa-user" aria-hidden="true"></i> Nuevo Paciente </button>
        </div>
        <div class="col-8">
            <div class="input-group">
                <span class="input-group-btn">
                                             <button class="btn btn-default" type="button">Buscar</button>
                                        </span>
                <input #input (keyup)="buscarPacientes(input.value)" type="text" class="form-control" placeholder="Buscar...">
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let paciente of pacientes" class="card" style="max-width: 18rem;">
            <div class="card-header"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{paciente.apellidos}}, {{paciente.nombres}}

            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    <li>DNI: {{paciente.nro_documento}}</li>
                    <li>Cobertura: {{paciente.cobertura.nombre}}</li>
                </p>
            </div>
            <div class="card-footer">
                <div class="pull-right"> <button [routerLink]="['/paciente_dashboard', paciente._id]" type="button" class="btn btn-warning btn-sm"><i class="fa fa-stethoscope" aria-hidden="true"></i>         </button>

                    <button [routerLink]="['/paciente', paciente._id]" type="button" class="btn btn-info btn-sm"> <i class="fa fa-edit" aria-hidden="true"></i> </button>

                    <button (click)="borrarPaciente(paciente._id)" type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

    </div>


</div>