<div class="row">

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-info animate-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Paciente</h3>
            </div>
            <div class="panel-body">
                <form [formGroup]="forma" (ngSubmit)="guardarPaciente()">



                    <!-- Aca empieza la primer row -->
                    <div class="row">
                        <input [(ngModel)]="paciente._id" formControlName="_id" type="hidden">
                        <div class="col-sm-6">
                            <label>Estado</label>
                            <select [(ngModel)]="paciente.estado" formControlName="estado" name="estado" class="form-control">
                        <option value="1">ACTIVO</option>
                        <option value="2">INACTIVO</option>
                        <option value="3">OBITO</option>  
                    </select>

                            <label>Nombres</label>
                            <input [(ngModel)]="paciente.nombres" formControlName="nombres" name="nombres" class="form-control" type="text">
                            <label>Apellidos</label>
                            <input [(ngModel)]="paciente.apellidos" formControlName="apellidos" name="apellidos" class="form-control" type="text">

                            <label>Fecha de Nacimiento</label>
                            <input [(ngModel)]="paciente.fnac" formControlName="fnac" name="fnac" class="form-control" type="date">

                            <label>Sexo</label>
                            <select [(ngModel)]="paciente.sexo" formControlName="sexo" name="sexo" class="form-control">
                        <option value="0">FEMENINO</option>
                        <option value="1">MASCULINO</option>
                    </select>

                            <label>Numero de Documento</label>
                            <input [(ngModel)]="paciente.nro_documento" formControlName="nro_documento" name="nro_documento" class="form-control" type="text">

                            <label>Nacionalidad</label>
                            <select [(ngModel)]=" paciente.nacionalidad._id " formControlName="nacionalidad" name="nacionalidad" class="form-control">
                        
                        <option *ngFor="let pais of paises" value="{{pais._id}}">{{pais.Pais}}</option>
                    </select>

                        </div>

                        <div class="col-sm-6">
                            <label>Telefono</label><input [(ngModel)]="paciente.telefono" formControlName="telefono" name="telefono" class="form-control" type="text">
                            <label>Celular</label><input [(ngModel)]="paciente.celular" formControlName="celular" name="celular" class="form-control" type="text">
                            <label>Email</label><input [(ngModel)]="paciente.email" formControlName="email" name="email" class="form-control" type="text">
                            <label>Cobertura</label>
                            <select [(ngModel)]="paciente.cobertura._id" formControlName="cobertura" name="cobertura" class="form-control">
                        
                        <option *ngFor="let cobertura of coberturas" value="{{cobertura._id}}">{{cobertura.nombre}}</option>
                    </select>
                            <label>Afiliado</label><input [(ngModel)]="paciente.afiliado" formControlName="afiliado" name="afiliado" class="form-control" type="text">
                            <label>Contacto</label><input [(ngModel)]="paciente.contacto" formControlName="contacto" name="contacto" class="form-control" type="text">
                            <label>Domicilio</label><input [(ngModel)]="paciente.domicilio" formControlName="domicilio" name="domicilio" class="form-control" type="text">
                        </div>
                    </div>
                    <hr>
                    <button class="btn btn-primary"> <i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
                    <a routerLink="/pacientes" class="btn btn-danger waves-effect waves-light">Cancelar</a>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

    </div>

</div>